.header-container {
    background-color: #f07807;
    /* display: flex; */
    /* flex: 1; */
    /* flex-direction: row; */
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    height: 3vh;
    /* width: 100%; */
}

.list-container_logo {
    list-style-type: none;
}

.list-container_links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.list-container_links > a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.list-container_logo > li {
    font-weight: bold;
    font-size: 1.2rem;
}

.list-container_links > a > li,  .list-container_links > li{
    /* padding-left: 1rem; */
    padding-right: 1rem;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.2rem;
}